/* **********************************
        Xtra large sizes
************************************ */

@media (min-width: 1200px) {
    .img-stat {
        height: 300px;
    }
    .hero-content h1 {
        font-size: 2rem;
    }
    .hero-content p {
        font-size: .8rem;
        padding: 8px;
    }
    .tri-img {
        z-index: -1000;
        position: absolute;
        top: -260px;
        height: 800px;
        width: auto;
        right: 0%;
        bottom: 0%;
    }
    /* Connect section */
    .connect {
        height: 100%;
        width: auto;
        min-height: 100%;
    }
    .purp-bg {
  
    }
    .connect-middle h1 {
        font-size: 2rem;
    }
    .space {
        position: relative;
        left: 20px;
    }
 

    .connect-middle {
        position: relative;
        top: 10rem;
        left: -50px;
    }
    
    
    .connect-middle h1,
    .connect-middle p {
        position: relative;
        top: 10px;
        padding: 0 20px;
        left: -20px;
    }
    
    .connect-middle h1 {
        padding-bottom: 30px;
    }
    
    .pad-fix {
        padding: 16px;
    }
    
    .mar-fix {
        margin-bottom: 1.5rem;
    }
    /* working on connection second section.. need a break */

    /* card-section */

    .card-tri {
        top: 215px;
        left: -250px;
    }

    .middle-center {
        padding-top: 20rem;
    }
}

/*  End of mediumn sizes */

/* **********************************
        large sizes
************************************ */

@media (min-width: 992px) and (max-width: 1199px) {
    .img-stat {
        height: 300px;
    }
    .hero-content h1 {
        font-size: 2rem;
    }
    .hero-content p {
        font-size: .8rem;
        padding: 8px;
    }
    .tri-img {
        height: 600px;
        z-index: -1000;
        position: absolute;
        top: -160px;
        width: auto;
        right: 0%;
        bottom: 0%;
    }
    /* Connect section */
    .connect {
        height: 100%;
        width: auto;
        min-height: 100%;
    }
    .purp-bg {
        height: 140%;
        background-size: contain;
        min-width: 120%;
        min-height: 120%;
    }
    .connect-middle h1 {
        font-size: 2rem;
    }
    .space {
        position: relative;
        left: 20px;
        font-size: 14px;
    }
    .card-tri {
        top: 182px;
        left: -150px;
    }
    /* working on connection second section.. need a break */
}

/*  End of mediumn sizes */

/* **********************************
        Mediumn sizes
************************************ */

@media (min-width: 768px) and (max-width: 991px) {
    .img-stat {
        height: 250px;
    }
    .hero-content h1 {
        font-size: 1.8rem;
        position: relative;
        top: -40px;
    }
    .hero-content p {
        font-size: .8rem;
        padding: 5px;
        position: relative;
        top: -35px;
    }
    .hero-content .purp-btn {
        position: relative;
        top: -20px;
    }
    .tri-img {
        height: 450px;
        z-index: -1000;
        position: absolute;
        top: -60px;
        right: 0px;
        width: auto;
        right: 0%;
        bottom: 0%;
    }
    /* connect second section */
    .connect {
        height: 100%;
        width: auto;
        min-height: 100%;
    }
    .purp-bg {
        height: 140%;
        background-size: contain;
        background-size: 10% 10%;
    }
    /* .con-bg-cover {
        height: 100%;
        width: 100%;
        background: url(img/background-img.png) no-repeat;
        background-size: cover;
        background-position: center center;
    } */
    .connect-middle {
        position: relative;
        top: 55px;
    }
    .connect-middle h1 {
        font-size: 1.8rem;
    }
    .connect-middle p {
        font-size: .9rem;
    }
    .space {
        position: relative;
        left: 20px;
        font-size: .8rem;
    }
    .pad-fix {
        padding: 5px;
    }
    .mar-fix {
        margin-bottom: 8px;
    }
    .pic-column {
        position: relative;
        top: 20px;
    }

    .middle-center {
        padding-top: 10rem;
        
    }

    .card-tri {
        top: 164px;
        left: -150px;
        height: 600px;
    }

    .middle-center {

    }
    /* end of connect */
}

/* End of mediumn sizes */

/* **********************************
        small sizes
************************************ */

@media (min-width: 575px) and (max-width: 767px) {
    .img-stat {
        height: 350px;
        transform: translate(5%, 20%)
    }
    .hero-content {
        text-align: center;
        padding: 0 50px;
    }
    .hero-content h1 {
        font-size: 1.8rem;
        position: relative;
        top: -10px;
    }
    .hero-content p {
        font-size: .8rem;
        padding: 5px;
        position: relative;
        top: -25px;
    }
    .hero-content .purp-btn {
        position: relative;
        top: -10px;
    }
    .tri-img {
        height: 450px;
    }
    /* connect second section */
    .connect {
        height: 100%;
        width: auto;
    }
    .connect-middle {
        height: 100%;
        position: relative;
        top: 0px;
    }
    .pic-column {
        align-content: middle;
        position: relative;
        right: -50px;
    }
    .purp-bg {
        /*height: 100%;
        background-size: contain;
        right: -200px; */
        display: none;
    }
    .con-bg-cover {
        height: 100%;
        background: url(img/background-img.png) no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .connect-middle h1 {
        font-size: 1.5rem;
        position: relative;
        top: 30px;
        text-align: center;
    }
    .connect-middle p {
        font-size: .9rem;
        margin-top: 10px;
        margin-left: 10px;
        padding: 0 15%;
        line-height: 1.2rem;
    }
    .space {
        position: relative;
        left: 20px;
        font-size: 12px;
    }
    .connect-text {
        text-align: center;
        justify-content: center;
    }
    .btn-img {
        height: 50%;
        width: auto;
    }
    .pad-fix {
        padding: 6px;
    }
    .mar-fix {
        margin-bottom: 10px;
    }
    .move {
        position: relative;
        top: -10px;
    }
    .btn-img {
        height: 3.2rem;
    }

    .card-tri {
        transform: rotate(180deg);
        height: 400px;
        position: absolute;
        top: -26px;
        left: -85px;
        
    }
    /* end of connectafasdf */
}

/* **********************************
        Xtra small sizes
************************************ */

@media (min-width: 336px) and (max-width: 575px) {
    .img-stat {
        height: 300px;
        transform: translate(8%, 20%)
    }
    .hero-content {
        text-align: center;
        padding: 0 50px;
    }
    .hero-content h1 {
        font-size: 1.8rem;
        position: relative;
        top: -20px;
    }
    .hero-content p {
        font-size: .8rem;
        padding: 10px 0;
        position: relative;
        top: -25px;
    }
    .hero-content .purp-btn {
        position: relative;
        top: -30px;
        padding: 6px 25px;
    }
    .tri-img {
        height: 450px;
    }
    /* connect second section */
    .connect {
        height: 100%;
        width: auto;
    }
    .connect-middle {
        height: 100%;
        position: relative;
        top: 0px;
    }
    .pic-column {
        align-content: middle;
        position: relative;
        right: -50px;
    }
    .purp-bg {
        /*height: 100%;
        background-size: contain;
        right: -200px; */
        display: none;
    }
    .con-bg-cover {
        height: 100%;
        background: url(img/background-img.png) no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .connect-middle h1 {
        font-size: 1.8rem;
        position: relative;
        top: 35px;
    }
    .connect-middle p {
        font-size: 12px;
    }
    .space {
        position: relative;
        left: 20px;
        font-size: 12px;
    }
    .connect-text {
        text-align: center;
        position: relative;
        left: 23px;
    }
    .btn-img {
        height: 50%;
        width: auto;
    }
    .pad-fix {
        padding: 8px;
    }
    .mar-fix {
        margin-bottom: 8px;
    }
    .btn-img {
        height: 3.2rem;
    }
    /* end of connect */
    /* Card-section */
    .card-section {
        height: 100%;
        position: relative;
        padding: 0rem 0 0rem 0;
    }
    .card-tri {
        transform: rotate(180deg);
        height: 50px;
        position: absolute;
        top: 15rem;
        left: 150px;
        display: none;
    }
    .img-pos {
        transform: translate(15%, -240px);
    }
    .card-width {
        width: 26rem;
    }
    /* .middle-center {     this added unwanted space on the right side of the screen
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-30%, 10%);
        
    } */
    .card-section .container {
        position: relative;
        display: table;
    }

    .middle-center {
        display: flex;
        padding-top: 10rem;
        position: relative;
        align-content: center;
    }
    .mar-top {
        margin-top: 2rem;
    }
    /* End of card-section */
    /* Last Section */
    .line {
        object-fit: cover;
        overflow: hidden;
        width: 0px;
        position: relative;
        top: 200px;
        display: none;
    }
    .last-section {
        position: relative;
        margin: 15rem 0 0 0;
        height: 50%;
        padding: 0 0 0 0;
    }
    .cta-content {
        padding: 0rem 0 10rem 0;
        margin-top: 40px;
    }
    .footer {
        margin: 0 0 0 0;
        position: relative;
        display: block;
        text-align: center;
    }
    .lang {}
    .last-section .row {
        margin: 0;
    }
    /* End of last section */
}